<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="content">
            <div class="jumbotron">
                <p class="text-center"><img src="assets/img/AngularJS-large.png"></p>
                <h3 style="padding-top:40px;">
                    <strong>{{content.title}}</strong>
                </h3>
                <p ng-repeat="paraph in content.titleParaph">{{paraph}}</p>
            </div>

            <div ng-repeat="objective in content.objectives">
                <h3><strong><i class="{{objective.icon}}" aria-hidden="true"></i> {{objective.title}}</strong></h3>
                <p>{{objective.paraph}}</p>
                <hr>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Objetivo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="table in content.table">
                        <td>{{table.title}}</td>
                        <td>
                        </td>
                        <td>
                            <a target="_blank" href="{{table.link}}" class="btn btn-success">Ver</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
